@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
@font-face {
    font-family: 'TTHakgyoansimKkokkomaR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimKkokkomaR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

  body {
    font-family: 'Pretendard';
    background-color:white;
    color: #333;
  }


.greeting-section{
    display: flex;
    margin-bottom: 2.5rem;
    height: 9.375rem;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.875rem;
  }
  
  .greeting-section h2 {
    font-size: 1.375rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }
  
  .greeting-section p {
    font-size: 1rem;
    color: gray;
    margin: 0;
  }
  
  .edit-goal-link {
    color: #4ED8B7;
    cursor: pointer;
    position: relative;
    left: 0.5rem;
    text-decoration: none;
  }

  /*************friendliness-section************/

    .friendliness-section {
        background: linear-gradient(to bottom, #ff8019,#ff5e00); /* Gradient direction and colors */
        display: grid; 
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        'logo . s2 .'
        'gotoTopicTxt intimacy_image intimacy_image speechbubble_box'
        'start intimacy_image intimacy_image .'
        'intimacy_box intimacy_image intimacy_image .';
        height: 30rem;
        padding: 0 1.5rem;
    }
    
       
    .intimacy_image {
        grid-area: intimacy_image;
        align-self: end;
        width: 100%; /* 부모 크기에 따라 조정 */
        max-width:38rem;
        min-width: 486px;
        position: relative;
        left: 15%; /* 상대 위치 */
    }
    
    .speechbubble_box {
        grid-area: speechbubble_box;
        width: 19rem; /* 화면 크기에 따라 동적 조정 */
        max-width: 19rem; /* 최대 크기 제한 */
        position: relative;
        right: 5%; /* 상대 위치 */
        bottom: 1.5rem;
    }
    
      
      .intimacy_speechbubble {
        width: 100%; /* 부모 크기 기준으로 맞춤 */
      }
      
      .intimacy_text {
        font-family: 'EF_jejudoldam';
        align-self: center;
        font-size: 1.6rem;
        font-weight: 700;
        color: #4ED8B7;
        position: absolute;
        bottom: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap; /* 텍스트가 한 줄로 유지되도록 설정 */
        z-index:100;
      }
      
    .intimacy_box{
        grid-area:intimacy_box;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        align-items: flex-start;
        color: white;
        font-family: 'galmuri9';
        gap:0.2rem;
        position: relative;
        left: 8rem;
        bottom: 3rem;
    }
    .time{
        display: block;
    }

    .logo{
        color: #502320;
        font-weight: 900;
        font-size: 1.3rem;
        grid-area: logo;
        align-self: end;    
        justify-self: start;
        position: relative;
        left: 8rem;
        top: 1rem;
    }

    .gotoTopicTxt{
        color: #502320;
        font-weight: 600;
        font-size: 2.3rem;
        text-align: left;
        line-height: 1.2;
        white-space: nowrap;
        grid-area: gotoTopicTxt;
        justify-self: start;
        align-self: center;
        position: relative;
        left: 8rem;
    }
    
    .gotoTopic{
        grid-area: start;
        justify-self: start;
        position: relative;
        left: 8rem;
        bottom: 1rem;
    }
    .start {
        width: 5.5rem;  
      }
      
    .gototopic:hover{
        text-decoration: none;
        color: #8000ff;
    }


  @media (max-width: 1120px) {
    .logo{
        left: 1rem;
    }
    .gotoTopicTxt{
        left: 1rem;
    }
    .gotoTopic{
        left: 1rem;
    }
    .intimacy_box{
        left: 1rem;
    }

  }

  @media (max-width: 990px) {
    .logo{
        font-size: 1.2rem;
        top: 1rem;
        
    }
    .gotoTopicTxt{
        font-size: 200%;
    }
    .gotoTopic{
        top:0.6rem;
    }
    .intimacy_image{
        left:0rem;
    }
    .speechbubble_box{
        grid-area: s2;
        align-self: end;
        width: 15rem;
        top: 1rem;
    }
    .intimacy_text{
        font-size: 1.3rem;
    }
    .intimacy_box p {
        white-space: normal; /* 텍스트 줄바꿈 */
      }
      .next-goal {
        display: block; /* 다음 목표 부분만 줄바꿈 */
        margin-top: 0.5rem; /* 간격 조정 */
      }
  }
  @media (max-width: 666px){
    .logo{
        font-size: 1rem;
        top: 1rem; 
    }
    .gotoTopicTxt{
        font-size: 150%;
    }
    .gotoTopic{
        grid-area: gotoTopicTxt;
        align-self: end;
        top: 0.8rem;
    }
    .start {
        width: 4.5rem;  
      }
      
    .intimacy_image{
        min-width: 200px;
    }
    .speechbubble_box{
        grid-area: intimacy_image;
        align-self: start;
        justify-self: end;
        width: 11rem;
        top: 5rem;
    }
    .intimacy_text{
        font-size: 0.9rem;
    }
    .intimacy_box p {
        font-size: 0.8rem;
      }
  }
  @media (max-width: 500px){
    .speechbubble_box{
        top: 8rem;
        left: 1.7rem;
    }
  }

  /*************record section**********/
  @scope(.records-section){
    :scope {
        margin: 12.5rem 1.875rem 6.25rem 1.875rem;
    }
    h3{
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 1.25rem; 
    }

  .records-container {
    display: flex;
    gap: 1.25rem;
    margin-top: 0.625rem;
    align-items: center;
    position: relative;
  }
  .intimacy_image {
    overflow-clip-margin: unset;
    overflow: visible;
  }
  
  .record-card {
    background-color: #fafafc;
    box-shadow: 0.125rem 0.25rem 0.75rem #00000014;
    border-radius: 1.125rem;
    position: relative;
    padding: 1.875rem;
    width: 6.875rem; 
    height: 11.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: calc(100% / 3); /* Adjust visibleCount here */
    margin: 0 0.625rem;
    flex-shrink: 0;
  }

  .record-category{
    position: absolute;
    top: 0.625rem;
  }
  .record-date{
    position: absolute;
    top: 0.625rem;
    right: 1.875rem;
  }
  .record-topic{
    position: absolute;
    top: 2.1875rem;
    left: 1.875rem;
  }

  .records-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 18.75rem;
    scroll-behavior: smooth;
    transform: translateX(calc(-100% * var(--scrollIndex)));
  }
  
  .record-category{
    font-size: 0.9375rem;
    color: black;
  }
  
  .record-topic{
    font-size: 0.8125rem;
  }
  
  .record-time{
    white-space: pre;
  }
  
  .record-header {
    display: flex;
    font-size: 0.875rem;
    color: gray;
    justify-content: space-between;
    align-items: center;
  }
  
  .record-header-top {
    display: flex;
    justify-content: space-between; 
    gap: 0.625rem;
  }
  
  .record-time {
    text-align: right;
    margin-top: 0.3125rem;
    font-size: 0.9rem; 
    color: gray; 
  }

  .record-content{
    position:relative;
    bottom: 1.25rem;
  }
  .arrow {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
  }

  
  @media (max-width: 648px) {
    .record-header-top {
      flex-direction: column; 
      align-items: flex-start; 
    }
  
    .record-time {
      margin-top: 0.1875rem;
      font-size: 0.8rem;
    }
  }
  
  .level-badge {
    display: inline;
    padding: 0.125rem 0.25rem;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    margin-right: 0.3125rem; 
  }
  
  .level-badge.easy {
    background-color: #F0F3FF; 
    color: #1C1678;
  }
  
  .level-badge.normal {
    background-color: #836FFF;
  }
  
  .level-badge.hard {
    background-color: #211951; 
  }
  
  .record-title{
    font-weight: 700;
    font-size: 1.25rem;
  }