@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
@font-face {
    font-family: 'TTHakgyoansimKkokkomaR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimKkokkomaR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 기본 Reset */


* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Pretendard';
    background-color: white;
    color: #333;
  }

  .container{
    min-height: 100vh;
    width: 100vw;
    min-width: 340px;
    overflow-x: hidden;
    background-color: #FFFF; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
  }

  /* Start.css */
  .startPage{
    text-align: center;
  }
  
  .image-wrapper {
    align-items: flex-end; /* 하단을 기준으로 정렬 */
    width: 50%;
    min-width: 340px;
  }
  
  .image {
    margin: 0 0.5rem; 
    width: 80px; 
    height: auto;
  }
  .start-title {
    width: 50%;
    min-width: 340px;
    font-weight: 900;
    color: #4ED8B7;
    font-size: 3rem; /* 원하는 제목 크기로 조정 */
  }
  
  .start-subTitle {
    width: 50%;
    min-width: 340px;
    color: rgba(0, 0, 0, 0.36); /* 검정색의 불투명도 적용 */
    font-size: 1rem; /* 원하는 부제목 크기로 조정 */
  }
  .button {
    width: 50%;
    min-width: 340px;
    border: none; /* 기본 테두리 제거 */
    border-radius: 0.375rem; /* 모서리 둥글게 */
    font-size: 25px; /* 글자 크기 */
    font-weight: 700;
    cursor: pointer; /* 포인터로 변경 */
    transition: background-color 0.3s; /* 배경색 변화 시 애니메이션 효과 */
}

.register{
    margin-top: 100px;
    max-width: 340px;
    padding: 16px 0 16px 0; /* 상하, 좌우 패딩 */
    background-color: #4ED8B7; /* 회원가입 배경색 */
    color: white; /* 회원가입 글자색 */
}

.register:hover {
    background-color: #3DB19A; /* 호버 시 배경색 변화 */
}

.login {
    margin-top: 10px;
    max-width: 340px;
    padding: 16px 0 16px 0; /* 상하, 좌우 패딩 */
    background-color: #EBFFEE; /* 로그인 배경색 */
    color: #4ED8B7; /* 로그인 글자색 */
}

.login:hover {
  background-color: #C5F7E0; /* 호버 시 배경색 변화 */
}

/*UserAgreement.css*/
.goBack{
  display: flex;
  cursor: pointer;
  min-width: 340px; 
  width: 70%;
  /* width: 20px; */
  text-align: left; 
}

.goBackArrow{
  font-size: 20px;
}

.title {
  display: flex;
  width: 50%;
  min-width: 340px;
  text-align: left; 
  font-size: 25px;
}
.agreeTitle{
  margin-bottom: 170px;
}
.next{
  margin-top: 10px;
  padding: 10px 0 10px 0;
  background-color: #4ED8B7; /* 회원가입 배경색 */
  color: white;
}
.checkbox {
  display: flex;
  align-items: center; /*아이콘과 텍스트를 수직으로 중앙 정렬*/
  cursor: pointer; /* 클릭 가능하도록 커서 변경 */
  width: 50%;
  min-width: 340px;
  text-align: left;
  margin-left: 5px;
}
.CiCircleCheck{
  font-size: 30px;
  color: black;
}
.checkbox.checked .CiCircleCheck{
  color: #4ED8B7;
}
.allAgree {
  font-size: 20px;
  font-weight: bold;
  margin-left: 8px; /* 아이콘과 텍스트 사이의 간격 */
}
.FaCheck{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.36); 
  cursor: pointer;
}
.FaCheck.checked{
  color: #4ED8B7;
}
.agreement-container{
  width: 50%;
  min-width: 340px;
  border-top: 2px solid #000000;
  background-color: #F5F5F5;
  padding: 10px 5px 10px 30px;
  height: 170px;
}
.sub-checkbox {
  display: flex;
  align-items: center; /* 아이콘과 텍스트를 수직으로 중앙 정렬 */
  justify-content: space-between; /* 요소 사이 공간 균등 분배 */
  padding: 5px 0px;
}
.singleAgree{
  font-size: 15px; 
  color: rgba(0, 0, 0, 0.36); 
  width: 100px;
  flex: 1;
  text-align: left;
  padding-left: 10px;
}
.agreementDetail {
  color: rgba(0, 0, 0, 0.36); /* 글자 색상 설정 */
  text-decoration: underline; /* 밑줄 */
  cursor: pointer;
  margin-left: 10px;
  margin-right: 5px;
}
.closeModal{
  font-size: 35px;
  cursor: pointer;
}
.modalTitle{
  width: 310px;
}
.modalContent{
  margin-top: 10px;
  width: 310px;
}
.modalContent ul{
  padding-left: 20px;
}

/*Register.css*/
.registerForm{
  width: 50%;
  min-width: 340px;
}
.registerForm input{
  width: 100%;
  height: 30px;
  border: none;
  text-align: left; 
  font-size: 16px;
  color: rgba(0, 0, 0, 0.36);
  margin-bottom: 7px;
}
.registerForm label{
  display: flex;
  align-items: center; /*수직 정렬*/
  width: 100%;
  text-align: left; 
  font-size: 20px;
  font-weight: bold;
}
.registerForm .message{
  display: flex;
  margin-left: 7px;
  font-size: 12px;
  align-items: center;
}
.invalid{
  color: lightcoral;
}
.valid{
  color: lightgreen;
}

.gender-container{
  display: grid;
  justify-content: center; 
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%; 
  min-width: 340px; 
  margin: 0 auto ;
  margin-bottom: 7px;
}

.gender{
  width: 90%;
  border: none; /* 기본 테두리 제거 */
  border-radius: 0.375rem; /* 모서리 둥글게 */
  font-size: 25px; /* 글자 크기 */
  font-weight: 700;
  cursor: pointer; /* 포인터로 변경 */
  transition: background-color 0.3s; /* 배경색 변화 시 애니메이션 효과 */
  margin: 5px 5px; 
  padding: 10px 0; 
  text-align: center;
  border: 1px solid #000000; 
  background-color: white;
  color: rgba(0, 0, 0, 0.36);
  font-size: 16px;
}
.gender.checked{
  background-color: #A1A1A1;
  color: #000000;
}
.address-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}
.address{
  margin: 0;
  flex: 3;
}
.addressButton{
  border: none; /* 기본 테두리 제거 */
  border-radius: 0.375rem; /* 모서리 둥글게 */
  font-size: 25px; /* 글자 크기 */
  font-weight: 700;
  cursor: pointer; /* 포인터로 변경 */
  transition: background-color 0.3s; /* 배경색 변화 시 애니메이션 효과 */
  margin: 5px 5px; 
  padding: 10px 0; 
  text-align: center;
  border: 1px solid #000000; 
  background-color: white;
  color: rgba(0, 0, 0, 0.36);
  font-size: 16px;
}
.goLogin{
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.36);
  cursor: default;
}

.goLogin span{
  margin-left: 10px;
  color: #4ED8B7;
  cursor: pointer;
}

/* Postcode.css */
.modal-overlay {
  position: fixed; /* 화면을 덮는 고정 위치 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  z-index: 1000; /* 다른 요소들보다 위에 위치 */
}

.modal-content {
  background-color: #FFFFFF; /* 모달 내용 배경 */
  padding: 20px;
  border-radius: 8px; /* 모서리 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

/* Conversation.css */
.conversation-container{
  padding-top: 100px;
  padding-bottom: 80px;
}
.conversation-header{
  display: flex;
  position: fixed;
  align-items: center;
  align-self: flex-start;
  top: 0;
  left: 50%;
  width: 90%;
  min-width: 340px;
  transform: translateX(-50%);
  height: 100px;
  z-index: 1000;
  margin-top: 30px;
}
.conversation-goBack{
  cursor: pointer;
  width: 20px;
  text-align: left; 
}
.conversation-title{
  font-size: 20px;
  font-weight: 700;
  flex: 1;
  text-align: center;
  min-width: 340px;
}
.chat-container {
  width: 70%;
  min-width: 340px;
  display: flex;
  flex-direction: column; /* 채팅 버블을 세로로 쌓기 */
  padding: 10px 5px;
  overflow: auto;
  height: 500px;
}
.chatBubble{
  display: inline-block;
  position: relative;
  min-width: 70px;
  max-width: 260px; /* 최대 너비 설정 */
  height: auto; /* 높이를 자동으로 설정 */
  padding: 15px; /* 내부 여백 추가 */
  background: #F5F5F5;
  border-radius: 10px;
  margin-bottom: 40px;
}
.chatBubble:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 20px 15px 0; /*높이 / 너비 / 0 */
  border-color: #F5F5F5 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -20px;/*border-width 높이와 같게*/
  left: 30px;/*수치가 작을 수록 작은 수*/
}
.chatBubbleRight {
  transform: scaleX(-1); /*챗버블 좌우반전*/
  background: #EBFFEE;
  align-self: flex-end;/*오른쪽 정렬*/
}
.feedbackBubbleRight {
  transform: scaleX(-1); /*챗버블 좌우반전*/
  background-color: #ffebee;
  border-right: 4px solid #e57373;
  align-self: flex-end;/*오른쪽 정렬*/
}
.feedbackBubbleRight:after {
  display: none;
}
.chatBubbleRight:after {
  border-color: #EBFFEE transparent;
}
.bettuChatText{
  display: flex; 
  align-items: flex-start;
}
.userChatText{
  transform: scaleX(-1); /*글자만 다시 원위치*/
  text-align: left;
}
.chatImage{
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
  margin-right: 10px;
}
.userChatInput{
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #4ED8B7;
  cursor: pointer;
  position: fixed;
  top: 90%;
  left: 50%;
  width: 20%;
  min-width: 200px;
  transform: translateX(-50%);
  z-index: 1000;
  flex-direction: column;
  height: 60px;
}
.userInput-status{
  color: #000000;
  font-size: 15px;
}
.icon-container{
  justify-content: center;
  display: flex;
  gap: 50px;
}
.typingFrom{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin-bottom: 5px;
  width: 670px; 
  position: relative;
}
.typingInput{
  flex: 1;
  width: 600px; 
  min-height: 40px; /* 기본 높이 */
  max-height: 100px; /* 최대 높이 */
  resize: none; /* 사용자가 크기를 변경하지 못하도록 설정 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
  font-size: 15px;
  line-height: 1.6;
  border: 2px solid #4ED8B7;
  border-radius: 5px;
  outline: none;

  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 10;
}
.typingSendButton{
  height: 30px;
  width: 30px;

  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
}

/* ChooseCharacter.css */
.character-wrapper{
  display: flex;
  min-height: 60vh; 
  min-width: 340px;
  align-items: center;
  justify-content: center; /*flex*/
}
.character-list {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr); /* 기본적으로 4열 */
  justify-items: center;/*grid*/
  text-align: center;
  min-width: 340px;
  align-items: flex-end;
}
.character-icon {
  width: 50%;
  height: 50%;
  object-fit: contain;
}
.character-item {
  flex-direction: column;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s ease;
}
.character-item.selected {
  display: flex;
  transform: scale(1.2); /* 10% 확대 */
}
.character-item.selected .character-text {
  color: #4ED8B7;
}

.character-text {
  margin-top: 8px;
  font-size: 1.3em;
  color: #333;
}

/* ChooseLanguage.css */
.language-list {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr); /* 기본적으로 4열 */
  justify-items: center;/*grid*/
  text-align: center;
  min-width: 340px;
  align-items: flex-end;
  width: 80%;
}
.language-item{
  flex-direction: column;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);

}

.language-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 8px 24px rgba(0, 0, 0, 0.1);
}

/* LearningGoal.css */
.goal-list {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr); 
  justify-items: center;/*grid*/
  text-align: center;
  min-width: 340px;
  align-items: flex-end;
  width: 80%;
  min-height: 60vh;
  margin-top: 10px;
}
.goal-item {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
  width: 70%;
  height: 80%;
  
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.goal-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 8px 24px rgba(0, 0, 0, 0.1);
}
.goal-icon{
  width: 11%;
  height: 100%;
  object-fit: contain;
}
.goal-text{
  font-size: 1.2em;
  color: #333;
}

/* CurrentLevel.css */
.level-list{
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(1, 1fr); 
  justify-items: center;/*grid*/
  text-align: center;
  min-width: 340px;
  align-items: flex-end;
  width: 80%;
  min-height: 60vh;
}
.level-item {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  width: 50%;
  height: 80%;
  text-align: center;
  justify-content: center;
  
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.level-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 8px 24px rgba(0, 0, 0, 0.1);
}

/* PreferredTopic.css */
.preferredTopic-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  width: 70%;
  height: 90%;
  text-align: center;
  justify-content: center;
  
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.preferredTopic-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 8px 24px rgba(0, 0, 0, 0.1);
}
.preferredTopic-icon{
  width: 30%;
  height: 100%;
  object-fit: contain;
}

/*myPage.css*/
.mypage-container{
  width: 100%;
  min-width: 360px;
  overflow: hidden;
  text-align: center;
  background-color: #eaf9f3;
}
.profile-header {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mypage-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.user-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.profile-stats {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 50%;
  min-width: 360px;
}

.stat {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column; 
  padding-right: 20px;
}

.stat span {
  font-size: 11px;
  color: #b0b0b0;
}

.mypage-menu {
  list-style: none;
  margin: 0;
  padding: 20px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #ffffff;
}

.mypage-menu li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.mypage-menu a{
  text-decoration: none;
  color: #000;
}

.mypage-menu li span {
  font-size: 20px;
  margin-right: 10px;
}

.mypage-menu li:hover {
  background-color: #f0f0f0;
}
.mypage-service{
  width: 18px;
}

/* Profile.css */
.profile-container{
  min-height: 78vh !important;
}

  /* review.css */
  .review-title{
    margin-top: 30px;
  }
  .sortOrderBox{
    margin-top: 30px;
  }
  .review-card {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .review-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .review-pagination-button {
    margin-bottom: 30px;
    border: 1px solid transparent;
    background-color: white;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

  .review-pagination-button.active {
      border: 1px solid black; 
  }


  /* 반응형 레이아웃 */
  /* Mobile */
  @media (max-width: 360px) {
    .character-wrapper, .conversation-title, .next-button{
      min-width: 100% !important;
    }
    .goal-text{
      font-size: 1em;
    }
    .level-item {
      width: 90%;
    }
    .preferredTopic-icon{
      width: 70%;
    }
    .preferredTopic-item {
      width: 90%;
      height: 80%;
    }
  }
  @media (max-width: 768px) {
    .container{
      width: 100%;
    }
    .gender-container{
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
    .gender{
      width: 50%;
    }
    .preferredTopic-item {
      width: 90%;
      height: 80%;
    }
    .preferredTopic-icon{
      width: 60%;
    }
    .goal-item {
      width: 90%;
    }
    .goal-icon{
      width: 20%;
    }
    .goal-text{
      font-size: 1em;
    }
    .typingInput{
      width: 280px;
    }
    .typingFrom{
      width: 350px; 
    }
    .profile-stats {
      min-width: 280px;
    }
    .profile-container{
      min-height: 93vh !important;
    }
  }
  /* Tablet */
  @media (min-width: 768px){
    .container{
      width: 100%;
    }
    .typingInput{
      width: 450px;
    }
    .typingFrom{
      width: 520px; 
    }
  }
  /* Desktop */
  @media (max-width: 1024px) {
    .container{
      max-width: 100%;
    }
  }

/* Login */
.goBack{
  margin-top: 40px;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative;
}

.align-left {
  margin-left: 20px; 
  text-align: left;
}

.back-button {
  font-size: 24px;
  background: none;
  border: none;
  position: absolute;
  left: 20px; 
  top: 20px;
  cursor: pointer;
}
 
.login-container{
margin-top: 3rem;
}
.login-title {
  margin-top: 1rem;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.login-subtitle {
  color: #888;
  font-size: 14px;
  margin-bottom: 60px;
}

.input-label {
    display: block;
    font-size: 14px;
    margin-top: 30px;
    font-weight: 700;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background: #F5F5F5;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.password-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.forgot-password {
    color: #5FC99A;
    font-size: 14px;
    margin-top: 10px;
    display: block;
    text-decoration: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    margin-top: 40px;
    background-color: #5FC99A;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.login-error-message{
  color: red;
}

.signup-text {
    margin-top: 15px;
    font-size: 14px;
    color: #888;
    text-align: center;
}

.signup-link {
    color: #5FC99A;
    text-decoration: none;
}

.divider {
    margin: 20px 0;
    font-size: 14px;
    color: #ccc;
    display: flex;
    align-items: center;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}


.kakao-login {
    width: 100%;
    border: none;
    background-color: white;
    cursor: pointer;
}

.kakao-login_image{
    width: 90%;
}

/****footer*****/
.footer {
  background-color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  border-top: 1px solid #ddd;
}

.footer-container {
  
  margin: 0 auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.footer-title {
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
}

.footer-icons {
  display: flex;
  gap: 15px;
}

.icon {
  font-size: 1.5em;
  color: #333;
  cursor: pointer;
}

.icon:hover {
  color: #555;
}

.footer-info-toggle {
  cursor: pointer;
  color: #999;
  font-size: 0.8em;
  text-align: left;
  margin-bottom: 10px;
}

.footer-business-info {
  margin: 10px 0;
  font-size: 0.8em;
  color: #999;
  text-align: left;
}

.footer-links {
  display: flex;
  justify-content: left;
  gap: 15px;
  margin: 10px 0;
  font-size: 0.8em;
}

.footer-links a {
  color: #999;
  text-decoration: none;
  font-size: 0.8em;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  font-size: 0.8em;
  text-align: left;
  color: #999;
  margin-top: 10px;
}


/*******Topic******/
.topic-item {
  flex-direction: column;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.topic-item.selected {
  display: flex;
  background-color: #e0f7e9;
  border: 2px solid #b2e6c9;
  width: 100px;  
  height: 100px; 
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.topic-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr); 
  justify-items: center;
  align-items: center;
  justify-content: center;
  min-height: 60vh; 
  text-align: center;
}

@media (max-width: 1024px) {
  .topic-list {
      grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 600px) {
  .topic-list {
      grid-template-columns: 1fr; 
  }
}
.topic-icon {
  width: 50px;
  height: 50px;
}

.topic-text {
  margin-top: 8px;
  font-size: 0.9em;
  color: #333;
}
.topic {
  text-align: center;
  padding: 20px;
}

.next-button {
  margin-top: 20px;
  padding: 10px 20px;
  width: 100%;
  max-width: 300px;
  min-width: 340px;
  background-color: #4ED8B7;
  color: white;
  border: none;
  border-radius: 0.375rem; 
  font-size: 18px; 
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
 
/***********SubTopic.jsx***********/
.SubTopic {
  text-align: center;
  padding: 20px;
}

.sub-topic-container {
  display: grid;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  min-height: 60vh;
  text-align: center;
}
@media (max-width: 1024px) {
  .sub-topic-container {
      grid-template-columns: repeat(1, 1fr); 
  }
}
.level-selector {
  margin-top: 20px;
}

.level-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 2px; 
}

.level-button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #e0f7e9;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0.375rem;
}

.level-button.selected {
  background-color: #4ED8B7;
}


/********SubTopicBox********/
.sub-topic-box {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 300px;
  cursor: pointer;
  transition: border-color 0.3s;
  border-radius: 0.375rem;
}

.sub-topic-box.selected {
  border-color: #4ED8B7;
}

.warning-text {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}


/******Description****/
.description-box {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 600;
}

/********Header********/
.header {
  align-items: center;
  background-color: white;
  color: black;
  position: relative;
  width: 100%;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;;
  margin-left: 10px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-language, .header-mypage {
  display: flex;
  align-items: center; 
}

.header-title{
  font-weight: 900;
  color: #4ED8B7;
  text-decoration: none;
  font-size: 25px;
}

.header-language {
  position: relative;
  margin-right: 1rem;
}

.lang-dropdown {
  display: inline-block;
}

.globalimg{
  width: 16px;
}

.lang-dropdown-button {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  background-color: white;
  border: none;
  cursor: pointer;
  justify-self: end;
}


.lang-dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 100;
}

.lang-dropdown:hover .lang-dropdown-menu {
  display: block;
}

.lang-dropdown-menu p {
  margin: 0;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.8rem;
}

.lang-dropdown-menu p:hover {
  background-color: #f0f0f0;
}

.header-links a,
.header-mypage a,
.header-mypage button {
    margin-left: 15px;
    text-decoration: none;
    color: #000;
}
.header-links {
  margin-left: 15px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 13px;
}
.header-mypage {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mypageimg{
  width: 35px;
  margin-left: auto;
  justify-content: flex-end;
}

.logout-button{
  background-color: white;
  border: none;
  cursor: pointer;
}

.header-content {
  display: flex;
  gap: 1rem;
  position: relative;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 15px;
  padding: 0.2rem;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.header-item {
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  padding:0.5rem 1rem;
  font-size: 15px;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease, color 0.3s ease;
  
}

.header-item.inactive {
  opacity: 0.5; 
}

.header-item.active {
  opacity: 1;
  font-weight: 600;
}

.dropdown-container {
  position: absolute;
  top: 100%; 
  left: 0;
  background: white; 
  box-shadow: 0px 0px 0px 1px rgba(14, 63, 126, 0.04), 
              0px 1px 1px -0.5px rgba(42, 51, 69, 0.04), 
              0px 3px 3px -1.5px rgba(42, 51, 70, 0.04), 
              0px 6px 6px -3px rgba(42, 51, 70, 0.04), 
              0px 12px 12px -6px rgba(14, 63, 126, 0.04), 
              0px 24px 24px -12px rgba(14, 63, 126, 0.04);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 100%; 
  padding: 0.5rem;
  z-index: 20;
}


/* Dropdown content */
.dropdown-content {
  display: flex;
  justify-content: space-evenly;

  text-align: center;
  cursor: pointer;
}


.dropdown-content p {
  margin: 0.3rem 0;
}
.dropdown-content h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.subtopic {
  cursor: pointer;
  margin: 4px 0;
}

.description {
  font-style: italic;
  margin-top: 5px;
  color: #555;
  cursor: pointer;
}

  
/*** feedback ***/
/* 전체 컨테이너 스타일 */
.feedback-container {
  padding-top: 100px;
  padding-bottom: 80px;
}

/* 헤더 */
.feedback-header {
  display: flex;
  position: fixed;
  align-items: center;
  align-self: flex-start;
  top: 0;
  left: 50%;
  width: 90%;
  min-width: 340px;
  transform: translateX(-50%);
  height: 100px;
  z-index: 1000;
  margin-top: 30px;
}

.feedback-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  flex: 1;
}

.goBack-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

/* 메시지와 피드백을 감싸는 컨테이너 */
.message-container {
  display: flex;
  flex-direction: column; /* 채팅 버블을 세로로 쌓기 */
  align-items: flex-start;
  margin-bottom: 15px;
}

.message-container.user {
  align-items: flex-end; /* 사용자 메시지 오른쪽 정렬 */
}

/* 메시지 버블 */
.feedback-bubble {
  display: inline-block;
  position: relative;
  min-width: 70px;
  max-width: 260px; /* 최대 너비 설정 */
  height: auto; /* 높이를 자동으로 설정 */
  padding: 10px; /* 내부 여백 추가 */
  background: #F5F5F5;
  border-radius: 10px;
  margin-bottom: 40px;
}

/* 대화 내용 컨테이너 == chat-container */
.feedback-chat {
  width: 70%;
  min-width: 340px;
  display: flex;
  flex-direction: column; /* 채팅 버블을 세로로 쌓기 */
  padding: 10px 5px;
  overflow: auto;
  height: 520px;
}

/* 메시지 버블 */
.feedback-bubble {
  display: inline-block;
  position: relative;
  min-width: 70px;
  max-width: 260px; /* 최대 너비 설정 */
  height: auto; /* 높이를 자동으로 설정 */
  padding: 10px; /* 내부 여백 추가 */
  background: #F5F5F5;
  border-radius: 10px;
  margin-bottom: 40px;
}

.feedback-bubble.assistant {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 35px;
}

.feedback-bubble.user {
  display: flex;
  justify-content: flex-end;
  background: #ebffee;
}

/* 텍스트 */
.bubble-text {
  font-size: 16px;
  color: #333;
  word-break: break-word;
}

/* 프로필 이미지 */
.feedback-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px; /* 이미지와 텍스트 간격 조정 */
  position: absolute;
  left: -35px; /* 이미지가 버블 밖에 위치하도록 */
  top: 0; /* 세로 위치 */
}

/* 피드백 코멘트 */
.feedback-comment {
  padding: 10px;
  font-size: 16px;
  line-height: 1.4;
  border-radius: 5px;
}

.feedback-comment.success {
  background: #e8f5e9;
  color: #2e7d32;
  border-left: 4px solid #66bb6a;
}

.feedback-comment.error {
  background: #ffebee;
  color: #d32f2f;
  border-left: 4px solid #e57373;
}

/*******home**********/

.greeting-section{
  display: flex;
  margin-bottom: 2.5rem;
  height: 9.375rem;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.875rem;
}

.greeting-section h2 {
  font-size: 1.375rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.greeting-section p {
  font-size: 1rem;
  color: gray;
  margin: 0;
}

.edit-goal-link {
  color: #4ED8B7;
  cursor: pointer;
  position: relative;
  left: 0.5rem;
  text-decoration: none;
}

/*************friendliness-section************/

  .friendliness-section {
      background: linear-gradient(to bottom, #ff8019,#ff5e00); 
      display: grid; 
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
      'logo . s2 .'
      'gotoTopicTxt intimacy_image intimacy_image speechbubble_box'
      'start intimacy_image intimacy_image .'
      'intimacy_box intimacy_image intimacy_image .';
      height: 30rem;
      padding: 0 1.5rem;
  }
  
     
  .intimacy_image {
      grid-area: intimacy_image;
      align-self: end;
      width: 100%; 
      max-width:38rem;
      min-width: 486px;
      position: relative;
      left: 15%; 
  }
  
  .speechbubble_box {
      grid-area: speechbubble_box;
      width: 19rem;
      max-width: 19rem;
      position: relative;
      right: 5%; 
      bottom: 1.5rem;
  }
  
    
    .intimacy_speechbubble {
      width: 100%; 
    }
    
    .intimacy_text {
      font-family: 'EF_jejudoldam';
      align-self: center;
      font-size: 1.6rem;
      font-weight: 700;
      color: #4ED8B7;
      position: absolute;
      bottom: 37%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap; 
      z-index:100;
    }
    
  .intimacy_box{
      grid-area:intimacy_box;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      align-items: flex-start;
      color: white;
      font-family: 'galmuri9';
      gap:0.2rem;
      position: relative;
      left: 8rem;
      bottom: 3rem;
  }
  .time{
      display: block;
  }

  .logo{
      color: #502320;
      font-weight: 900;
      font-size: 1.3rem;
      grid-area: logo;
      align-self: end;    
      justify-self: start;
      position: relative;
      left: 8rem;
      top: 1rem;
  }

  .gotoTopicTxt{
      color: #502320;
      font-weight: 600;
      font-size: 2.3rem;
      text-align: left;
      line-height: 1.2;
      white-space: nowrap;
      grid-area: gotoTopicTxt;
      justify-self: start;
      align-self: center;
      position: relative;
      left: 8rem;
  }
  
  .gotoTopic{
      grid-area: start;
      justify-self: start;
      position: relative;
      left: 8rem;
      bottom: 1rem;
  }
  .start {
      width: 5.5rem;  
    }
    
  .gototopic:hover{
      text-decoration: none;
      color: #8000ff;
  }


@media (max-width: 1120px) {
  .logo{
      left: 1rem;
  }
  .gotoTopicTxt{
      left: 1rem;
  }
  .gotoTopic{
      left: 1rem;
  }
  .intimacy_box{
      left: 1rem;
  }

}

@media (max-width: 990px) {
  .logo{
      font-size: 1.2rem;
      top: 1rem;
      
  }
  .gotoTopicTxt{
      font-size: 200%;
  }
  .gotoTopic{
      top:0.6rem;
  }
  .intimacy_image{
      left:0rem;
  }
  .speechbubble_box{
      grid-area: s2;
      align-self: end;
      width: 15rem;
      top: 1rem;
  }
  .intimacy_text{
      font-size: 1.3rem;
  }
  .intimacy_box p {
      white-space: normal; 
    }
    .next-goal {
      display: block;
      margin-top: 0.5rem; 
    }
}
@media (max-width: 666px){
  .logo{
      font-size: 1rem;
      top: 1rem; 
  }
  .gotoTopicTxt{
      font-size: 150%;
  }
  .gotoTopic{
      grid-area: gotoTopicTxt;
      align-self: end;
      top: 0.8rem;
  }
  .start {
      width: 4.5rem;  
    }
    
  .intimacy_image{
      min-width: 200px;
  }
  .speechbubble_box{
      grid-area: intimacy_image;
      align-self: start;
      justify-self: end;
      width: 11rem;
      top: 5rem;
  }
  .intimacy_text{
      font-size: 0.9rem;
  }
  .intimacy_box p {
      font-size: 0.8rem;
    }
}
@media (max-width: 500px){
  .speechbubble_box{
      top: 8rem;
      left: 1.7rem;
  }
}

/*************record section**********/
  .records-section {
      margin: 12.5rem 1.875rem 6.25rem 1.875rem;
  }

  .records-top{
      display: flex;
      justify-content: space-between;
      align-content: center;
  }

  .records-top h3{
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 1.25rem; 
  }

  .view-all-records{
      text-decoration: none;
      color: #333;
  }

.records-container {
  display: flex;
  gap: 1.25rem;
  margin-top: 0.625rem;
  align-items: center;
  position: relative;
}

.record-card {
  background-color: #fafafc;
  box-shadow: 0.125rem 0.25rem 0.75rem #00000014;
  border-radius: 1.125rem;
  position: relative;
  padding: 1.875rem;
  width: 300px; 
  height: 11.25rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: calc(100% / 3); 
  margin: 0 0.625rem;
  flex-shrink: 0;
  cursor: pointer;
}

.record-category{
  position: absolute;
  top: 0.625rem;
}
.record-date{
  position: absolute;
  top: 0.625rem;
  right: 1.875rem;
}
.record-topic{
  position: absolute;
  top: 2.1875rem;
  left: 1.875rem;
}

.records-wrapper {
  overflow: scroll;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  height: 18.75rem;
  scroll-behavior: smooth;
  gap: 0.625rem;
}
.records-wrapper::-webkit-scrollbar{
  display: none; 
}

.record-category{
  font-size: 0.9375rem;
  color: black;
}

.record-topic{
  font-size: 0.8125rem;
}

.record-time{
  white-space: pre;
}

.record-header {
  display: flex;
  font-size: 0.875rem;
  color: gray;
  justify-content: space-between;
  align-items: center;
}

.record-header-top {
  display: flex;
  justify-content: space-between; 
  gap: 0.625rem;
}

.record-time {
  text-align: right;
  margin-top: 0.3125rem;
  font-size: 0.9rem; 
  color: gray; 
}

.record-content{
  position:relative;
  bottom: 1.25rem;
}
.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}



@media (max-width: 648px) {
  .record-header-top {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .record-time {
    margin-top: 0.1875rem;
    font-size: 0.8rem;
  }
}

.level-badge {
  display: inline;
  padding: 0.125rem 0.25rem;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  margin-right: 0.3125rem; 
}

.level-badge.easy {
  background-color: #F0F3FF; 
  color: #1C1678;
}

.level-badge.normal {
  background-color: #836FFF;
}

.level-badge.hard {
  background-color: #211951; 
}

.record-title{
  font-weight: 700;
  font-size: 1.25rem;
}

/*********FreeSubject*********/
.FreeSubject{
  padding: 2%;
  height: 100vh;
  width: 100vw;
  min-width: 340px;
}

.free-subject-container{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  ". title title ."
  ". freetalkbetu free_speechbubble_box ."
  ". freeSubjectInputBox freeSubjectInputBox ."
  ". fs-next-button fs-next-button .";
  height: 100%;
}

.FreeSubject h2{
  grid-area:title;
  justify-self: center;
  text-align: center;
}

.freetalkbetu{
  grid-area:freetalkbetu;
  width: 300px;
  justify-self:end;
  position: relative;
  left: 15%; 
}

.free_speechbubble_box {
  grid-area: free_speechbubble_box;
  width: 19rem;
  max-width: 19rem;
  position: relative;
  right: 5%; 
  bottom: 1.5rem;
}

.free_talk_text{
  font-family: 'EF_jejudoldam';
  align-self: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #4ED8B7;
  position: absolute;
  bottom: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  white-space: nowrap; 
  z-index:100;
}

.freeSubjectInputBox{
  grid-area:freeSubjectInputBox;
  border: 1px solid #dfe1e5;
  border-radius: calc(0.5*48px);
  width: 80%;
  height: 48px;
  text-indent: 20px;
  transition: all 0.3s ease;
  justify-self: center;
  align-self: start;
}
.freeSubjectInputBox:focus {
    outline: none;
    border: none;
    box-shadow: #3c40434c 0 1px 2px 0, #3c404326 0 2px 6px 2px;;
}

.fs-next-button{
  grid-area:fs-next-button;
  margin-top: 20px;
  padding: 10px 20px;
  width: 100%;
  max-width: 300px;
  min-width: 340px;
  height: 35%;
  background-color: #4ED8B7;
  color: white;
  border: none;
  border-radius: 0.375rem; 
  font-size: 18px; 
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-self: center;
}

/***********notice&event**********/
.notice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 100%;
}

.notice-container h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.notice-section {
  width: 80%;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.notice-title {
  display: flex;
}

.notice-section h2 {
  margin-right: 1rem;
  font-size: 1rem;
}

.notice-section h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.notice-section p {
  font-size: 0.75rem;
  margin-left: 1.5rem;
  color: #ddd;
}

.notice-item {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.25rem;
  cursor: pointer;
}

.notice-detail {
  width: 80%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.notice-detail h2 {
  margin-bottom: 1rem;
}

.notice-detail p {
  color: gray;
  padding-bottom: 1rem;
  border-bottom: solid 1px black;
}

.notice-content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.notice-container button {
  background: #e0f7e9; 
  border: none;
  border-radius: 10px;
  padding:10px;
  box-shadow: none;  
  margin: 0; 
  font-weight: bold; 
  color: #4ED8B7; 
  cursor: pointer; 
}